{% extends 'base.html.twig' %}

{% block title %} Création d'une annonce {% endblock %}

{% form_theme form 'ad/_collection.html.twig' %}
{# on met _self car le thème est défini dans ce fichier. Sinon on pourrait mettre l'url du fichier #}



{% block body %}

    <div class="container">
        <h1 class="my-5">Créer une nouvelle annonce</h1>

        {{ form_start(form) }}
        {# début du formulaire form #}

        {# {{ form_row(form) }} #}
        {# comprends label, widget, erros... #}

        {# {{ form_widget(form) }} #}
        {# permet plus de flexibilité car du coup on peut ajouter des choses au début ou à la fin #}
        {# form.title : on n'a que le champ title qui s'affiche avant le bouton mais le reste s'affiche après le bouton à cause du form(end)#}
        <div class="row">
            <div class="col">
                <div class="alert alert-light">
                    <h2>Informations générales</h2>
                    <hr>
                    {{ form_row(form.title) }}
                    {{ form_row(form.slug) }}
                    {{ form_row(form.price) }}
                    {{ form_row(form.rooms) }}

                    {# permet d'afficher un champ avec son label, ses erreurs etc #}

                </div>
                <div class="alert alert-light">
                    <h2>Détails de l'annonce</h2>
                    <hr>
                    {{ form_row(form.introduction) }}
                    {{ form_row(form.content) }}
                </div>
            </div>
            <div class="col">
                <div class="alert alert-light">
                    <h2>Images de l'annonce</h2>
                    <hr>
                    {{ form_row(form.coverImage) }}
                    {{ form_row(form.images) }}
                </div>

            </div>

            
        </div>

        <div class="alert alert-success clearfix">
            <!-- clearfix répare les prbs de flottement -->
            <h2 class="alert-heading">Sauvegarder mon annonce</h2>
            <p>Vous êtes sur le point de créer votre annonce.</p>
            <button type="submit" class="btn btn-primary float-right">
                <i class="fas fa-check"></i> Créer la nouvelle annonce
            </button>
        </div>


        {{ form_end(form) }}
        {# il ajoute automatiquement un jeton de sécurité #}

        {# {{ form(form) }} #}
        {# remplace tout #}
    </div>

{% endblock %}

{# plutôt que de définir le thème soi-même, on va en prendre un dans la communauté #}

{% block javascripts %}
    <script src="/js/ad.js"></script>
{% endblock %}

